body {
    text-align: center;
    padding: 100px;
    text-transform: capitalize;
    font-size: 1.75rem;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 200px;
    width: auto;
    padding: 0;
    margin: auto;
}

h1 {
    font-size: 5rem;
    margin: 0;
}

h2 {
    font-size: 3rem;
    margin: 0;
}